<div class="home-about">
  <div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h2 class="text-primary">
        <%= @page.content('description').title %>
      </h2>
  </div>
</div>

  <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h4>
    <%= @page.content('description').value %>
</h4>
  </div>
</div>
</div>