<div class="row">
  <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 well">
    <%= form_for [:admin, @category], html: {class: 'form-horizontal'} do |f| %>
      <h1 class="text-center">Crée une categorie</h1>
      <br>
      <% if @category.errors.any? %>
        <div class="alert alert-danger">
          <%= @category.errors.full_messages.map { |msg| content_tag(:p, msg) }.join.html_safe %>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-12">
          <h4>Nom</h4>
          <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Nom' %>
        </div>
      </div>

      <%= f.submit 'Valider', data: { disable_with: '...' }, class: 'btn btn-primary btn-lg btn-submit' %>
    <% end %>
  </div>
</div>