<div class="partial text-center">

  <%= link_to content.file.url, class: 'btn btn-primary btn-lg', target: '_blank' do %>
    <span class="glyphicon glyphicon-file"></span> <%= content.title.html_safe %>
  <% end %>

</div>
