<footer>
  <div class="container">
    <p class="pull-left footer-credit">© 2014 Compagnons du dev</p>
    <p class="pull-right">
      <%# image_tag 'logo-fb.png', class: 'text-right' %>
      <%# image_tag 'logo-twitter.png', class: 'text-right' %>
    </p>
  </div>
</footer>